### Data Wrangling on Retail Sales Dataset

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("customer_shopping_data.csv")
# view the first 10 rows
df.head(10)

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,C189076,Female,53,Books,4,60.60,Cash,24/10/2021,Kanyon
5,I227836,C657758,Female,28,Clothing,5,1500.40,Credit Card,24/05/2022,Forum Istanbul
6,I121056,C151197,Female,49,Cosmetics,1,40.66,Cash,13/03/2022,Istinye Park
7,I293112,C176086,Female,32,Clothing,2,600.16,Credit Card,13/01/2021,Mall of Istanbul
8,I293455,C159642,Male,69,Clothing,3,900.24,Credit Card,4/11/2021,Metrocity
9,I326945,C283361,Female,60,Clothing,2,600.16,Credit Card,22/08/2021,Kanyon

Identify and calculate the percentage of missing values in each attribute or columns

In [4]:
df.isnull().sum()/len(df)*100

invoice_no        0.0
customer_id       0.0
gender            0.0
age               0.0
category          0.0
quantity          0.0
price             0.0
payment_method    0.0
invoice_date      0.0
shopping_mall     0.0
dtype: float64

there are no missing data.... Data exploration to understand the data

In [ ]:
df.dtypes

invoice_no         object
customer_id        object
gender             object
age                 int64
category           object
quantity            int64
price             float64
payment_method     object
invoice_date       object
shopping_mall      object
dtype: object

#### Task 1: Calculate the number of sales based on location and category

The data contains several shopping malls facilities.The location is placed in the column "shopping_mall". For each location, there are several categories of items that were sold and this is placed in the column "category". We need to check for unique location, category and customer ID

In [ ]:
value = df["shopping_mall"].unique()
for index, row in enumerate(value):
    print(index+1, row)

1 Kanyon
2 Forum Istanbul
3 Metrocity
4 Metropol AVM
5 Istinye Park
6 Mall of Istanbul
7 Emaar Square Mall
8 Cevahir AVM
9 Viaport Outlet
10 Zorlu Center

In [7]:
category = df["category"].value_counts()
print(category)

category
Clothing           34487
Cosmetics          15097
Food & Beverage    14776
Toys               10087
Shoes              10034
Souvenir            4999
Technology          4996
Books               4981
Name: count, dtype: int64

In [8]:
category = df["category"].groupby(df["shopping_mall"]).value_counts()
print(category)

shopping_mall  category
Cevahir AVM    Clothing           1729
               Food & Beverage     772
               Cosmetics           732
               Toys                514
               Shoes               490
                                  ...
Zorlu Center   Shoes               519
               Toys                513
               Books               261
               Souvenir            257
               Technology          250
Name: count, Length: 80, dtype: int64

In [9]:
ID = df["customer_id"].unique()
print(len(df))
print(len(ID))

99457
99457

In [10]:
print(df.columns)
print(len(df.columns))

Index(['invoice_no', 'customer_id', 'gender', 'age', 'category', 'quantity',
       'price', 'payment_method', 'invoice_date', 'shopping_mall'],
      dtype='object')
10

In [11]:
df = df.drop(columns=["invoice_no", "customer_id"])
df.reset_index(drop=True, inplace=True)
df.index=df.index +1 
df.head()

,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
1,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
2,Male,21,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
3,Male,20,Clothing,1,300.08,Cash,9/11/2021,Metrocity
4,Female,66,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
5,Female,53,Books,4,60.60,Cash,24/10/2021,Kanyon

In [14]:
df.to_csv('data.csv', index=False)